
*{
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: row;
    margin: 0;
}

.but1{
    background-color: #FFDAB9;
    color: black;
    border: white;
    font-size: large;
    height: 8vh;
    width: 25vh;
    user-select: none;
    cursor: pointer;
}

.but1:hover{
    opacity: .8;
    text-decoration: none;
    border-radius: 10px;
    background-color: #e3a95e;
    font-weight: bolder;
}

.but2{
    background-color: #FFDAB9;
    color: black;
    border: white;
    font-size: large;
    height: 8vh;
    width: 25vh;
    user-select: none;
    cursor: pointer;
}

.but2:hover{
    opacity: .8;
    text-decoration: none;
    border-radius: 10px;
    background-color: #e3a95e;
    font-weight: bolder;
}

.but3{
    background-color: #FFDAB9;
    color: black;
    border: white;
    font-size: large;
    height: 8vh;
    width: 25vh;
    user-select: none;
    cursor: pointer;
}

.but3:hover{
    opacity: .8;
    text-decoration: none;
    border-radius: 10px;
    background-color: #e3a95e;
    font-weight: bolder;
}

